[Unit]
Description=bg3cmty_discord_bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/senshabot/host/SenshaBot
ExecStart=/home/senshabot/host/SenshaBot/senshabot.sh
Restart=always
RestartSec=5
User=senshabot

[Install]
WantedBy=multi-user.target
